openapi: 3.0.0
tags:
  - name: Authentication
info:
  title: CC API
  description: API for creating bridge between ML (Machine Learning) and MD (Mobile Development) team
  version: 0.0.1
servers:
  - url: https://api.bangkit-c241-ps005.site/
paths:
  /auth/login:
    post:
      summary: Login
      tags:
        - Authentication
      description: Authenticate using email and password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Return JWT token to authenticate 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientLoginResponse'
      security: []
  /auth/register:
    post:
      summary: Register
      tags:
        - Authentication
      description: Register using email and password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    default: ok
  /auth/send-reset-password-email:
    post:
      summary: Reset password using email
      tags:
        - Authentication
      description: Send reset password link with email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    default: ok
                  message:
                    type: string
                    default: Password reset email sent
  /auth/reset-password:
    post:
      summary: Reset password using oobCode (private)
      tags:
        - Authentication
      description: Send reset password link with oobCode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oobCode:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    default: ok
                  message:
                    type: string
                    default: Password has been reset
      security: []
components:
  schemas:
    ApiClientLoginData:
      title: ApiClientLoginData
      type: object
      properties:
        session_token:
          type: string
    ApiClientLoginResponse:
      title: ApiClientLoginResponse
      type: object
      properties:
        status:
          type: string
          default: ok
        data:
          $ref: '#/components/schemas/ApiClientLoginData'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
security:
  - Bearer: []